<div class="plan">
    <div class="room_row_upper div_at_row">

        <div class="room" id="room_1">
            <div class="plan_bed bed_free" id="bed_1"></div>
            <div class="plan_bed bed_taken" id="bed_2"></div>

            <div class="info_room_footer">
                <div class="room_manage">
                    <p>комната № 1</p>
                </div>
            </div>
        </div>

        <div class="room" id="room_3">
            <div class="plan_bed bed_free" id="bed_9"></div>
            <div class="plan_bed bed_taken" id="bed_10"></div>
            <div class="plan_bed bed_free" id="bed_11"></div>
            <div class="plan_bed bed_taken" id="bed_12"></div>

            <div class="info_room_footer">
                <div class="room_number">
                    3
                </div>
                <div class="room_manage">
                    button
                </div>
            </div>
        </div>

        <div class="room" id="room_5">
            <div class="plan_bed bed_free" id="bed_19"></div>
            <div class="plan_bed bed_taken" id="bed_20"></div>

            <div class="info_room_footer">
                <div class="room_number">
                    5
                </div>
                <div class="room_manage">
                    button
                </div>
            </div>
        </div>
    </div>

    <br style="height: 12vh">
    <p> WHAT ???</p>

    <div class="div_at_row">

        <div class="room" id="room_2">
            <div class="plan_bed bed_free" id="bed_3"></div>
            <div class="plan_bed bed_taken" id="bed_4"></div>
            <div class="plan_bed bed_free" id="bed_5"></div>
            <div class="plan_bed bed_taken" id="bed_6"></div>
            <div class="plan_bed bed_free" id="bed_7"></div>
            <div class="plan_bed bed_taken" id="bed_8"></div>

            <div class="info_room_footer">
                <div class="room_number">
                    2
                </div>
                <div class="room_manage">
                    button
                </div>
            </div>
        </div>

        <div class="room" id="room_4">
            <div class="plan_bed bed_free" id="bed_13"></div>
            <div class="plan_bed bed_taken" id="bed_14"></div>
            <div class="plan_bed bed_free" id="bed_15"></div>
            <div class="plan_bed bed_taken" id="bed_16"></div>
            <div class="plan_bed bed_free" id="bed_17"></div>
            <div class="plan_bed bed_taken" id="bed_18"></div>

            <div class="info_room_footer">
                <div class="room_number">
                    4
                </div>
                <div class="room_manage">
                    button
                </div>
            </div>
        </div>

        <div class="room" id="room_6">
            <div class="plan_bed bed_free" id="bed_21"></div>
            <div class="plan_bed bed_taken" id="bed_22"></div>
            <div class="plan_bed bed_free" id="bed_23"></div>
            <div class="plan_bed bed_taken" id="bed_24"></div>

            <div class="info_room_footer">
                <div class="room_number">
                    6
                </div>
                <div class="room_manage">
                    button
                </div>
            </div>
        </div>
    </div>
</div>
<!------------- ------------------>
<script>
    $('.plan_bed').click(function () {
        console.log(this.id)

    })
</script>
<!-------------------------------->
<script>
    $('.room').mouseenter(function () {
        console.log(this.id)

    })

</script>
<p> here 2 </p>
